body {
    overflow: hidden;
}

#map-viewport {
    cursor: grab;
    touch-action: none;
    overflow: hidden;
    background-color: #BAB267;
}

#map-container {
    position: relative;
    transform-origin: 0 0;
    /* background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    background-size: 100px 100px; */
}

.map-element {
    position: absolute;
    width: 0px;
    height: 0px;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.map-element * {
    scale: 0.4;
}

#footer {
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    padding-bottom: 8px;

    display: flex;
    justify-content: space-between;
    align-items: end;
}

#footer * > div {
    border-radius: 100px;
}

#footer-left {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#footer-left * > button {
    display: flex;
    margin: 0;
    padding: 8px;
}

#footer-left * > button * {
    height: 32px;
    width: auto;
}

#footer-right {
    padding-right: 8px;
}

#create-button {
    display: flex;
    margin: 0;
    padding: 4px;
}

#create-button * {
    height: 72px;
    width: auto;
}

