body {
    overflow: hidden;
}

#map-viewport {
    cursor: grab;
    touch-action: none;
    overflow: hidden;
    background-color: #BAB267;
}

#map-container {
    position: relative;
    transform-origin: 0 0;
    /* background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    background-size: 100px 100px; */
}

.map-element {
    position: absolute;
    width: 0px;
    height: 0px;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.map-element * {
    scale: 0.4;
}

#placing-capy {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    position: absolute;
    padding: 5px 10px;
    background-color: rgb(74, 46, 33); 
    color: rgb(243, 215, 201); 
    border-radius: 4px;
    font-size: medium;
    font-weight: 400; 
    z-index: 100001;

    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.1s linear, visibility 0.1s linear;
}

#footer {
    width: 100%;
    position: fixed;
    z-index: 100000;
    bottom: 0;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    pointer-events: none;
}

#footer * > div {
    pointer-events: all;
    border-radius: 100px;
}

#footer-left {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#footer-left * > button {
    display: flex;
    margin: 0;
    padding: 8px;
}

#footer-left * > button * {
    height: 32px;
    width: auto;
}

#footer-right {
    padding-right: 8px;
}

#create-button {
    margin: 0;
    padding: 8px;
    height: 64px;
    width: 64px;
}

#create-button * {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
}